@media screen and (max-width: 319px) {
    .gallary-picter-2 {
        display: none;
    }

    .gallary-picter-3 {
        display: none;

    }
}



@media screen and (min-width: 320px) {
   
    .gallary__item {
        width: 100%;
        height: auto;
      
        line-height: 0;
        
       
       
    }
       .gallary-picter-1 {
     text-align: center;
      
       }
        .gallary-picter-2 {
           display: none;
        }
        .gallary-picter-3 {
           display: none;
         
        }
}




@media screen and (min-width: 768px) {
  

    .gallary__item {

        // padding-left: 16px;
        // padding-right: 16px;
       
    }

       .gallary-picter-1 {
        //   position: absolute;
        //    top: -164px;
        //    left: 31px;
        width: 704px;
       }
       .gallary-picter-2 {
        //   position: absolute;
          display: block;
        //    top: 155px;
        //    left: 31px;
        width: 704px;
        height: 293px;
        border-radius: 18px;
        
       }
       .gallary-picter-3 {
        // position: absolute;
        display: block;
        // top: 500px;
        // left: 31px;
        height: 327px;
        width: 704px;
       
       }
    }
@media screen and (min-width: 1200px) {

    
    .gallary__item {
    
        

    }
         .gallary-picter-1 {
             
            //  top: -94px;
            // left: 94px;
            width: 1013px;
        
         }
       .gallary-picter-2 {
           display: none;
       }
       .gallary-picter-3 {
           display: none;
       }
}


