@media screen and (max-width: 767px) {
   
    .gallary__item {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        line-height: 0;
        padding-left: 4px;
        padding-right: 4px;
        
    }
}

@media screen and (min-width: 768px) {
    .gallary__item {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;

    }
}

@media screen and (min-width: 1200px) {
    .gallary__item {
        padding-left: 78px;
        padding-right: 78px;
        height: auto;

    }
}


