.container {
border: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}
@media screen and (max-width: 319px) {
    .container {
        max-width: 319px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
            margin-right: auto;

    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;

    }
}